# ==========================================
# FOODLOOKER - Configuración de Variables de Entorno
# ==========================================
# Elimina la extensión de este archivo (.example) y rellena con tus credenciales
# Lee el README para más detalles sobre cómo obtener las API Keys necesarias.
# NO compartas este archivo con tus credenciales reales
# Añade .env al .gitignore para no subirlo a repositorios
# ==========================================

# MODEL Configuration
MODEL_NAME=gpt-4-turbo
TEMPERATURE=0.7
OPENAI_API_KEY= api key de openai para el proyecto

# Langsmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=api key del proyecto que has creado en langsmith
LANGSMITH_PROJECT=nombre del proyecto que has creado en langsmith

# Tools Configuration API KEYS
TAVILY_API_KEY= api key para busquedas web, 1000 creditos (busquedas) gratis al mes. sign in aqui: https://www.tavily.com/

#Required for Google Maps API
GOOGLE_MAPS_API_KEY=https://console.cloud.google.com/apis/library/places.googleapis.com?project=INPUT_TU_PROYECTO_CREADO_EN_GOOGLE_CLOUD_CONSOLE

#Required for Google Calendar API
GOOGLE_CREDENTIALS=credentials.json

# Required to trigger reservation call
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=
FROM_TWILIO_PHONE_NUMBER=The Twilio number you have purchased
TO_PHONE_NUMBER=Harcoded mobile number as destination call (your personal mobile)
NGROK_AUTH_TOKEN=3
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=KHCvMklQZZo0O30ERnVn # Voice ID for "Sara Martin"

#Required for model evaluation
DEEPEVAL_API_KEY=
DEEPEVAL_PROJECT_ID=
CONFIDENT_API_KEY=
CONFIDENT_BASE_URL=/v1/evaluate
THRESHOLD_REQUIREMENT_EXTRACTION=0.5
THRESHOLD_CV_FAITHFULNESS=0.8
THRESHOLD_EVALUATION_HALLUCINATION=0.8
THRESHOLD_INTERVIEW_COMPLETENESS=0.8
THRESHOLD_INTERVIEW_FAITHFULNESS=0.8
THRESHOLD_INTERVIEW_HALLUCINATION=0.8

# Ports and URLs configuration
FAST_API_API_HOST = "0.0.0.0"
FAST_API_API_PORT = 8000  # puerto seguro no protegido en Windows
STREAMLIT_PORT = 8501
CALL_SERVICE_PORT=8002 # Puerto donde corre el servicio de llamadas (no usar 8080)
