# MODEL Configuration
MODEL_NAME=nombre del modelo de openai
TEMPERATURE=temperatura modelo openai
OPENAI_API_KEY= api key de openai para el proyecto


# Langsmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_API_KEY=api key del proyecto que has creado en langsmith
LANGSMITH_PROJECT=nombre del proyecto que has creado en langsmith

# Tools Configuration API KEYS
TAVILY_API_KEY= api key para busquedas web, 1000 creditos (busquedas) gratis al mes. sign in aqui: https://www.tavily.com/
GOOGLE_MAPS_API_KEY=https://console.cloud.google.com/apis/library/places.googleapis.com?project=INPUT_TU_PROYECTO_CREADO_EN_GOOGLE_CLOUD_CONSOLE